* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Nunito', sans-serif;
	color: #666;
	background-color: #574366;
}

.wrapper {
	margin: 0 auto;
	max-width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.container {
	background-color: #fff;
	width: 100%;
	border-radius: 8px;
	padding: 2%;
	margin: 2% 0;
}

h2 {
	margin-top: 2%;
	font-size: 8vw;
	color: #fff;
}

h3 {
	color: #666;
}

ul {
	list-style: none; 
}

li {
	padding: .75% 1.5%;
	margin: 1% 0; 
	font-size: .85em;
}

li:nth-child(odd) {
	background-color: #f0f0f0;
	width: 100%;
}
